<h2>Rankings for <%=params[:hi_lo]%> <%=params[:rank_crime]%> Crime Rates in <%=params[:rank_year]%> </h2>


<table>
	<tr>
		<th>State</th>
		<th>Per Capita</th>
	</tr>
	<% @final_rank.each do |f| %>
	    <td><%= f.state %></td>
	    	<td><%= f.drug_abuse_violations%></td>
	 </tr>
	<% end %>
</table>