<!--
<h1>Page#index</h1>
<p>Find me in app/views/page/index.html.erb</p>
-->

<h1>Search for drug and crime data related to a state! (Make this a dropdown)</h1>
<br>
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= select_tag(:q, options_for_select(@s.group(:name).collect{|ss| [ss.name]}))%>
  <%= submit_tag("Submit") %>
<% end %>

<h2>Compare specific crime rates between 2 states</h2>
<%= form_tag("/", method: "get") do %>
  	<%= select_tag(:comparison_crime, options_for_select(["Violent","Property","Drug"]))%>
  	<%= select_tag(:state1, options_for_select(@s.group(:name).collect{|ss| [ss.name]}))%>
  	<%= select_tag(:state2, options_for_select(@s.group(:name).collect{|ss| [ss.name]}))%>
	<%= submit_tag("Submit") %>
<% end %>

<h2>Find the top 10 states (crime per 100,000 capita)</h2>
<body><ul>Ex. States with the highest violent crime per capita in 2011 (Select: 2011, Violent, Highest)</ul>
<ul>Ex. States with the lowest property crime per capita in 2009 (Select: 2009, Property, Lowest)</ul></body>
<%= form_tag("/", method: "get") do %>
  	<%= select_tag(:rank_year, options_for_select([2005,2007,2009,2011,2012]))%>
  	<%= select_tag(:rank_crime, options_for_select(["Violent","Property","Drug"]))%>
  	<%= select_tag(:hi_lo, options_for_select(["Highest","Lowest"]))%>
	<%= submit_tag("Submit") %>
<% end %>

<h2>Scatterplots</h2>
<%= form_tag("/", method: "get") do %>
    <%= select_tag(:scatter_year, options_for_select([2005,2007,2009,2011,2012]))%>
  <%= submit_tag("Submit") %>
<% end %>



