<!--
<h1>Page#index</h1>
<p>Find me in app/views/page/index.html.erb</p>
-->

<h2>Search for data (2012 arrests table and states table) related to a state!</h2>
<br>
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>


<h4>Year</h4>
<select name="year_dropdown">
  <%= @s.group(:year).each do |ss| %>
    <option value="<%= ss.year%>"><%= ss.year %></option>
  <% end %>
</select>

<!--this dropdown is hardcoded because we only have a few crime types-->
<h4>Crime1</h4>
<select name="crime_dropdown1">
    <option value="violent_crime">violent</option>
    <option value="property_crime">property</option>
    <option value="marijuana_crime">marijuana</option>
</select>

<!--this dropdown is hardcoded because we only have a few crime types-->
<h4>Crime2</h4>
<select name="crime_dropdown2">
    <option value="violent_crime">violent</option>
    <option value="property_crime">property</option>
    <option value="marijuana_crime">marijuana</option>
</select>

<h4>State</h4>
<select name="state_dropdown">
  <%= @s.group(:name).each do |ss| %>
    <option value="<%= ss.name %>"><%= ss.name %></option>
  <% end %>
</select>



